{% include "links.html" %}

<nav class="library-nav">
    <div class="nav-container">
        <div class="nav-menu">
            <div><a href="/admin_home" class="nav-menu-item">Admin Home</a></div>
            <div><a href="/add_locations" class="nav-menu-item">Locations</a></div>
            <div><a href="/categories" class="nav-menu-item">Genres</a></div>
            <div><a href="/librarian_registration" class="nav-menu-item">Librarians</a></div>
            <div><a href="/borrowings" class="nav-menu-item">Borrowings</a></div>
            <!-- Uncomment if needed in the future -->
            <!-- <div><a href="/books" class="nav-menu-item">Books</a></div> -->
            <!-- <div><a href="/view_book" class="nav-menu-item">Search Book</a></div> -->
            <div><a href="/logout" class="nav-menu-item">Logout</a></div>
        </div>
    </div>
</nav>
