{% include 'admin_head.html' %}
<div class="row">
   <div class=" col-2 text-color"></div>
      <div class="col-9">

             <form action="edit_locations_action">
                <input type="hidden" name="location_id" value="{{location_id}}">
                 <div class="row">
                      <div class="col-9">
                           <div class="form-group mt-20">
                               <input type="text" name="location_name" id="location_name" class="form-control w-100 p-10"  value="{{location['location_name']}}">
                            </div>
                       </div>
                       <div class="col-2">
                           <div class="form-group mt-20 ml-20">
                              <input type="submit" value="add" class="w-90 p-7 btn background-blue text-color fs-20 ">
                           </div>
                      </div>
                </div>
           </form>

     </div>
  <div class="col-2 text-color"></div>
</div>