{% include "links.html" %}

<nav class="nav">
    <div class="nav-item">
        <div class="nav-menu">
            <div class="mt-20 row nav-menu">
                <div><a href="/member_home" class="nav-menu-item">Member Home</a></div>
                <div><a href="/view_book" class="nav-menu-item">Search Book</a></div>
                <div><a href="/borrowings" class="nav-menu-item">Borrowings</a></div>
                <div><a href="/borrowings2" class="nav-menu-item">Returns</a></div>
                <div><a href="/notification" class="nav-menu-item">Notification</a></div>
                <div><a href="/logout" class="nav-menu-item">Logout</a></div>
            </div>
        </div>
    </div>
</nav>
